@import "../../style/variables";


.header {
  background-color: $color-dark;
  color: $color-mainBG;
  margin: 0px 0px 20px 0px;

  &__container {
    display: flex;
    min-height: 66px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      img {
        height: 44px;
        margin-right: 15px;
      }

      p {
        color: $color-mainBG;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  &__btn {
    margin: 0 0 0 15px;
    width: 80px;
    height: 25px;
  }
}